In [2]:
#spark.stop()
%run ../connection.python.py

In [3]:
digitalizzazione_201810_df= spark.read.format('parquet').load('hdfs:///user/silvia/digitalizzazione_parziale_navigazione_201810')
digitalizzazione_201810_df.createOrReplaceTempView("digitalizzazione_201810")

In [28]:
digitalizzazione_201810_df.show(10,False)


gb_liv_finale_2018 = spark.sql("select livello_digitalizzazione, count(*) as count from digitalizzazione_201810 group by livello_digitalizzazione")

gb_liv_finale_2018.show(15,False)

+------------------------------------------------+------------------------+------------------------+
|skyid                                           |score_totale_navigazione|livello_digitalizzazione|
+------------------------------------------------+------------------------+------------------------+
|0005eb13fdd2dd6347d3e560c21230692adeceb96c9db2cd|0.0                     |0                       |
|0005f3f18bda8a53a22af40921ad131c0e4e913cbdb5f565|6.0                     |6                       |
|0006530d860a31ca2a4b3539ad9baab4e2d668b4ee0da1a4|6.5                     |7                       |
|0006b83f9d38ac301f2026071b2b816841bab3c09da501cc|3.0                     |3                       |
|000aec8698c204ecadd4011222549f24efc5bc3ac949c457|7.0                     |7                       |
|000effd99733aebfe511e729e39b71cdee0c9edd644891f5|6.0                     |6                       |
|000fd3e0c929462b34a48485da2eb775e19b90b2a467e904|9.0                     |9                       |
|001516de23bee4c89ee975bc01f82af32a4228043563858b|2.5                     |3                       |
|0019000f9b848e357f8d21997d2164bdfd23f1b7ddff5e99|0.0                     |0                       |
|001a2224a6e43beefdf4ad48b4eb61b8d398ca1353590d6a|8.5                     |9                       |
+------------------------------------------------+------------------------+------------------------+
only showing top 10 rows

+------------------------+-------+
|livello_digitalizzazione|count  |
+------------------------+-------+
|1                       |276419 |
|6                       |358963 |
|3                       |326641 |
|5                       |309597 |
|9                       |250478 |
|4                       |338753 |
|8                       |256619 |
|7                       |307044 |
|10                      |466004 |
|2                       |344004 |
|0                       |1271922|
+------------------------+-------+

In [5]:
digitalizzazione_201810_df.count()

4506444

In [6]:
digitalizzazione_201709_path= 'hdfs:///user/alessandro/clusterfinalscore_conApp.parquet'

In [7]:
digitalizzazione_201709_df= spark.read.format('parquet').load(digitalizzazione_201709_path)
digitalizzazione_201709_df.printSchema()
digitalizzazione_201709_df.createOrReplaceTempView("digitalizzazione_201709")

root
 |-- skyid: string (nullable = true)
 |-- livello_digitalizzazione: double (nullable = true)
 |-- predictionCMDM: integer (nullable = true)
 |-- scoreCMDM: double (nullable = true)
 |-- cluster: integer (nullable = true)
 |-- cluster_score: integer (nullable = true)
 |-- devices_prediction: integer (nullable = true)
 |-- visite_prediction: integer (nullable = true)
 |-- devices_prediction_score: integer (nullable = true)
 |-- visite_prediction_score: integer (nullable = true)

In [8]:
digitalizzazione_201709_df=digitalizzazione_201709_df.distinct()

In [9]:
import pyspark.sql.functions as F

In [10]:
digitalizzazione_201709_df=digitalizzazione_201709_df.withColumn('digitalizzazione_bin', F.expr("IF(livello_digitalizzazione = 0, 0, IF(livello_digitalizzazione <=3, 1, IF(livello_digitalizzazione <=6, 2, IF(livello_digitalizzazione <=9, 3, IF(livello_digitalizzazione <=12, 4, IF(livello_digitalizzazione <=15, 5, IF(livello_digitalizzazione <=18, 6, IF(livello_digitalizzazione <=21, 7, IF(livello_digitalizzazione <=24, 8, IF(livello_digitalizzazione <=27, 9, IF(livello_digitalizzazione <=30, 10, null)))))))))))"))

In [11]:
digitalizzazione_201709_df.createOrReplaceTempView("digitalizzazione_201709")
digitalizzazione_201709_df.count()

4178841

In [12]:
digitalizzazione_201709_df.show(10,False)

+------------------------------------------------+------------------------+--------------+---------+-------+-------------+------------------+-----------------+------------------------+-----------------------+--------------------+
|skyid                                           |livello_digitalizzazione|predictionCMDM|scoreCMDM|cluster|cluster_score|devices_prediction|visite_prediction|devices_prediction_score|visite_prediction_score|digitalizzazione_bin|
+------------------------------------------------+------------------------+--------------+---------+-------+-------------+------------------+-----------------+------------------------+-----------------------+--------------------+
|015297d80b4b967f8c4ad4fc67d68f4af2293373d1c7c11f|20.184                  |4             |7.184    |4      |6            |4                 |1                |5                       |2                      |7                   |
|042f6438eb89c8d28cd7fb82abef7ced689be9928b77beea|7.184                   |4             |7.184    |0      |0            |0                 |0                |0                       |0                      |3                   |
|057e00511f17ab51eb83b6c7beb21279bb0d4b48fa6de0c9|21.184                  |4             |7.184    |4      |6            |2                 |3                |4                       |4                      |8                   |
|06afc0a3a80402fdb1977b57ec11e95356a699621e5bfbfc|27.184                  |4             |7.184    |0      |10           |0                 |4                |5                       |5                      |10                  |
|06ffe54517237ef007c31f63dc1db834d40c577e59bbf471|7.7509999999999994      |1             |2.751    |1      |2            |1                 |2                |2                       |1                      |3                   |
|08e77482c6de4073a9ea313e41330e6979fb9d227ef52c17|19.184                  |4             |7.184    |3      |6            |2                 |1                |4                       |2                      |7                   |
|0a79a4ef7edcf616adb485675d60abea747a4fd237047aad|27.27                   |5             |7.27     |0      |10           |0                 |0                |5                       |5                      |10                  |
|0c7cbe385593fa35e38107abeea805d157c750dd95d28aa8|22.27                   |5             |7.27     |2      |8            |0                 |1                |5                       |2                      |8                   |
|149b586271fd64e520c1cb63a575146ea7ab21413fb57170|2.751                   |1             |2.751    |0      |0            |0                 |0                |0                       |0                      |1                   |
|18845193e17be54eb279ffc83fdc978b8915512060ac574c|25.0                    |2             |10.0     |2      |8            |0                 |1                |5                       |2                      |9                   |
+------------------------------------------------+------------------------+--------------+---------+-------+-------------+------------------+-----------------+------------------------+-----------------------+--------------------+
only showing top 10 rows

In [25]:
digitalizzazione_201709_df_mod = spark.sql("select skyid, digitalizzazione_bin as livello_vecchio, (cluster_score + (devices_prediction_score + visite_prediction_score)) as livello_digitalizzazione from digitalizzazione_201709")

In [26]:
digitalizzazione_201709_df_mod = digitalizzazione_201709_df_mod.withColumn('livello_finale', F.expr("IF(livello_digitalizzazione = 0, 0, IF(livello_digitalizzazione <=2, 1, IF(livello_digitalizzazione <=4, 2, IF(livello_digitalizzazione <=6, 3, IF(livello_digitalizzazione <=8, 4, IF(livello_digitalizzazione <=10, 5, IF(livello_digitalizzazione <=12, 6, IF(livello_digitalizzazione <=14, 7, IF(livello_digitalizzazione <=16, 8, IF(livello_digitalizzazione <=18, 9, IF(livello_digitalizzazione <=20, 10, null)))))))))))"))
digitalizzazione_201709_df_mod.show(15,False)

+------------------------------------------------+---------------+------------------------+--------------+
|skyid                                           |livello_vecchio|livello_digitalizzazione|livello_finale|
+------------------------------------------------+---------------+------------------------+--------------+
|015297d80b4b967f8c4ad4fc67d68f4af2293373d1c7c11f|7              |13                      |7             |
|042f6438eb89c8d28cd7fb82abef7ced689be9928b77beea|3              |0                       |0             |
|057e00511f17ab51eb83b6c7beb21279bb0d4b48fa6de0c9|8              |14                      |7             |
|06afc0a3a80402fdb1977b57ec11e95356a699621e5bfbfc|10             |20                      |10            |
|06ffe54517237ef007c31f63dc1db834d40c577e59bbf471|3              |5                       |3             |
|08e77482c6de4073a9ea313e41330e6979fb9d227ef52c17|7              |12                      |6             |
|0a79a4ef7edcf616adb485675d60abea747a4fd237047aad|10             |20                      |10            |
|0c7cbe385593fa35e38107abeea805d157c750dd95d28aa8|8              |15                      |8             |
|149b586271fd64e520c1cb63a575146ea7ab21413fb57170|1              |0                       |0             |
|18845193e17be54eb279ffc83fdc978b8915512060ac574c|9              |15                      |8             |
|197f4170d96f73f934a0a9c27d5ebd1501bb0797d4307114|8              |15                      |8             |
|1ef9bf8a13b2b74091770b7bc6e041dc3476a3de68fc2e04|0              |0                       |0             |
|1fdcafaebbbb2b285782c4ccc223b4618aa0be9d2c50ab98|6              |11                      |6             |
|2200e53261115c4c2911efb5dd7f7336affa1669e6ac399c|3              |0                       |0             |
|228842cc57678e26d62804e9f8389aca6ad6a3021e8293a1|3              |0                       |0             |
+------------------------------------------------+---------------+------------------------+--------------+
only showing top 15 rows

In [27]:
digitalizzazione_201709_df_mod.createOrReplaceTempView("digitalizzazione_201709_df_mod")
gb_liv_finale_2017 = spark.sql("select livello_finale, count(*) as count from digitalizzazione_201709_df_mod group by livello_finale")

gb_liv_finale_2017.show(15,False)


gb_liv_vecchio_2017 = spark.sql("select livello_vecchio, count(*) as count from digitalizzazione_201709_df_mod group by livello_vecchio")

gb_liv_vecchio_2017.show(15,False)

+--------------+-------+
|livello_finale|count  |
+--------------+-------+
|6             |295701 |
|3             |276395 |
|5             |293690 |
|9             |329016 |
|4             |257684 |
|8             |309624 |
|7             |330023 |
|10            |480615 |
|2             |100848 |
|0             |1505245|
+--------------+-------+

+---------------+------+
|livello_vecchio|count |
+---------------+------+
|1              |726186|
|6              |331278|
|3              |388745|
|5              |316538|
|9              |354094|
|4              |220934|
|8              |380383|
|7              |405872|
|10             |507456|
|2              |232957|
|0              |314398|
+---------------+------+

In [29]:
summary_confronto=spark.sql("select a.livello_finale as livello_digitalizzazione_2017, b.livello_digitalizzazione as livello_digitalizzazione_2018, count(*) num_skyid from digitalizzazione_201709 a full outer join digitalizzazione_201810 b on a.skyid=b.skyid group by 1,2").persist()

In [30]:
summary_confronto.show(10000,False)

+-----------------------------+-----------------------------+---------+
|livello_digitalizzazione_2017|livello_digitalizzazione_2018|num_skyid|
+-----------------------------+-----------------------------+---------+
|10                           |2                            |423      |
|1                            |0                            |482315   |
|9                            |10                           |70573    |
|4                            |10                           |6424     |
|6                            |1                            |24738    |
|3                            |1                            |45655    |
|7                            |4                            |47354    |
|2                            |2                            |25649    |
|8                            |9                            |34447    |
|9                            |4                            |19330    |
|8                            |3                            |22531    |
|1                            |7                            |6310     |
|2                            |3                            |16599    |
|4                            |7                            |8339     |
|7                            |1                            |12736    |
|1                            |2                            |30979    |
|0                            |7                            |2805     |
|9                            |1                            |675      |
|6                            |0                            |59       |
|4                            |0                            |9204     |
|1                            |9                            |3547     |
|0                            |5                            |4590     |
|5                            |7                            |17153    |
|5                            |6                            |27628    |
|null                         |1                            |54390    |
|1                            |null                         |112249   |
|6                            |8                            |16464    |
|10                           |5                            |17440    |
|1                            |1                            |18654    |
|9                            |7                            |53346    |
|6                            |5                            |38746    |
|4                            |9                            |4162     |
|1                            |3                            |22764    |
|null                         |6                            |45397    |
|6                            |null                         |30646    |
|null                         |3                            |57216    |
|3                            |null                         |43138    |
|3                            |10                           |11269    |
|10                           |6                            |27470    |
|3                            |5                            |19006    |
|2                            |5                            |7325     |
|0                            |0                            |213091   |
|7                            |2                            |25234    |
|1                            |4                            |16652    |
|5                            |4                            |40790    |
|5                            |null                         |32515    |
|null                         |5                            |42499    |
|0                            |10                           |3017     |
|7                            |9                            |25594    |
|2                            |9                            |2216     |
|8                            |10                           |39938    |
|10                           |4                            |10672    |
|7                            |3                            |37813    |
|10                           |1                            |40       |
|3                            |3                            |36834    |
|9                            |3                            |10162    |
|1                            |8                            |4717     |
|9                            |2                            |2992     |
|8                            |5                            |43748    |
|8                            |1                            |3856     |
|null                         |9                            |17988    |
|9                            |null                         |25893    |
|0                            |9                            |1596     |
|4                            |3                            |28403    |
|6                            |7                            |25890    |
|2                            |1                            |23806    |
|8                            |8                            |41723    |
|2                            |4                            |12793    |
|null                         |4                            |47269    |
|4                            |null                         |27143    |
|8                            |null                         |28301    |
|null                         |8                            |23403    |
|4                            |6                            |15411    |
|6                            |3                            |40733    |
|7                            |null                         |33049    |
|null                         |7                            |29490    |
|9                            |8                            |51635    |
|8                            |7                            |59417    |
|3                            |6                            |16785    |
|8                            |2                            |10709    |
|7                            |5                            |52089    |
|5                            |10                           |12756    |
|null                         |10                           |28910    |
|10                           |null                         |35101    |
|6                            |2                            |36316    |
|9                            |5                            |26359    |
|10                           |9                            |81906    |
|3                            |9                            |5871     |
|2                            |0                            |97194    |
|0                            |1                            |8198     |
|5                            |8                            |11107    |
|6                            |10                           |18460    |
|7                            |8                            |31025    |
|8                            |4                            |32611    |
|2                            |10                           |4222     |
|10                           |3                            |3186     |
|5                            |0                            |1735     |
|0                            |8                            |2131     |
|3                            |2                            |49961    |
|1                            |5                            |10656    |
|5                            |2                            |47631    |
|5                            |1                            |45508    |
|8                            |0                            |5        |
|5                            |3                            |40812    |
|9                            |0                            |4        |
|0                            |6                            |4195     |
|9                            |9                            |51141    |
|0                            |2                            |13079    |
|7                            |7                            |46894    |
|3                            |8                            |7499     |
|3                            |4                            |31206    |
|4                            |2                            |34648    |
|7                            |10                           |32743    |
|4                            |4                            |26759    |
|10                           |10                           |229758   |
|6                            |6                            |39894    |
|8                            |6                            |63097    |
|2                            |8                            |2935     |
|0                            |3                            |9588     |
|10                           |7                            |42743    |
|2                            |null                         |29801    |
|null                         |2                            |66383    |
|3                            |0                            |110916   |
|9                            |6                            |41984    |
|1                            |6                            |9409     |
|4                            |1                            |38163    |
|1                            |10                           |7934     |
|3                            |7                            |10605    |
|6                            |9                            |13231    |
|5                            |9                            |8779     |
|0                            |4                            |7216     |
|4                            |8                            |5263     |
|2                            |7                            |4052     |
|4                            |5                            |17015    |
|5                            |5                            |30124    |
|0                            |null                         |44892    |
|null                         |0                            |357386   |
|7                            |0                            |13       |
|7                            |6                            |61328    |
|6                            |4                            |46101    |
|10                           |8                            |58717    |
|2                            |6                            |6365     |
+-----------------------------+-----------------------------+---------+

In [33]:
new_skyid=spark.sql("select a.livello_finale as livello_digitalizzazione_2017, b.livello_digitalizzazione as livello_digitalizzazione_2018, count(*) num_skyid from digitalizzazione_201709 a left join digitalizzazione_201810 b on a.skyid=b.skyid where a.skyid is NULL group by 1,2").persist()

new_skyid.show(20,False)

AnalysisException: "cannot resolve '`a.livello_finale`' given input columns: [scoreCMDM, digitalizzazione_bin, score_totale_navigazione, devices_prediction, cluster, skyid, visite_prediction_score, devices_prediction_score, livello_digitalizzazione, skyid, livello_digitalizzazione, cluster_score, predictionCMDM, visite_prediction]; line 1 pos 7;\n'Aggregate [unresolvedordinal(1), unresolvedordinal(2)], ['a.livello_finale AS livello_digitalizzazione_2017#327, livello_digitalizzazione#2 AS livello_digitalizzazione_2018#328, count(1) AS num_skyid#329L]\n+- Filter isnull(skyid#23)\n   +- Join LeftOuter, (skyid#23 = skyid#0)\n      :- SubqueryAlias a, `digitalizzazione_201709`\n      :  +- Project [skyid#23, livello_digitalizzazione#24, predictionCMDM#25, scoreCMDM#26, cluster#27, cluster_score#28, devices_prediction#29, visite_prediction#30, devices_prediction_score#31, visite_prediction_score#32, if ((livello_digitalizzazione#24 = cast(0 as double))) 0 else if ((livello_digitalizzazione#24 <= cast(3 as double))) 1 else if ((livello_digitalizzazione#24 <= cast(6 as double))) 2 else if ((livello_digitalizzazione#24 <= cast(9 as double))) 3 else if ((livello_digitalizzazione#24 <= cast(12 as double))) 4 else if ((livello_digitalizzazione#24 <= cast(15 as double))) 5 else if ((livello_digitalizzazione#24 <= cast(18 as double))) 6 else if ((livello_digitalizzazione#24 <= cast(21 as double))) 7 else if ((livello_digitalizzazione#24 <= cast(24 as double))) 8 else if ((livello_digitalizzazione#24 <= cast(27 as double))) 9 else if ((livello_digitalizzazione#24 <= cast(30 as double))) 10 else cast(null as int) AS digitalizzazione_bin#46]\n      :     +- Aggregate [skyid#23, livello_digitalizzazione#24, predictionCMDM#25, scoreCMDM#26, cluster#27, cluster_score#28, devices_prediction#29, visite_prediction#30, devices_prediction_score#31, visite_prediction_score#32], [skyid#23, livello_digitalizzazione#24, predictionCMDM#25, scoreCMDM#26, cluster#27, cluster_score#28, devices_prediction#29, visite_prediction#30, devices_prediction_score#31, visite_prediction_score#32]\n      :        +- Relation[skyid#23,livello_digitalizzazione#24,predictionCMDM#25,scoreCMDM#26,cluster#27,cluster_score#28,devices_prediction#29,visite_prediction#30,devices_prediction_score#31,visite_prediction_score#32] parquet\n      +- SubqueryAlias b, `digitalizzazione_201810`\n         +- Relation[skyid#0,score_totale_navigazione#1,livello_digitalizzazione#2] parquet\n"